
.msg-Container{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
    color: aliceblue;
    .message{
        display: flex;
        align-items: center;
        .content{
            //max-width: 40%;
            overflow-wrap: break-word;
            // display: grid;
            // grid-template-rows: 90% 10% ;
            border-radius: 1rem;
            .msg{
                padding: 1rem;
                font-size: 1.1rem;
                color:aliceblue;
            }
           
            .delivered-date-container {
                display: flex;
                align-items:center;
                flex-direction: row;
                justify-content:flex-end;
                gap: 0.5rem; // Adjust the gap as needed
                padding-right: 1rem;
                .deliveredDate {
                    margin: 0; 
                    font-size: small;
                }
                .status{
                    margin: 0; 
                    font-size: small;
                    color: gray;
                    &.readed {
                        color: greenyellow;
                    }
    
                    &.unreaded {
                        color: grey;
                    }
                }
                .check {
                    
                    &.readed {
                        color: greenyellow;
                    }
    
                    &.unreaded {
                        color: grey;
                    }
                }
            }
        }
       
    }
    .sended{
        justify-content: flex-end;
        .content{
            background-color:  rgb(112, 81, 129) ;
        }
    }
    .recieved{
        justify-content: flex-start;
        .content{
            background-color: rgb(63, 43, 73) ;
        }
        
    }
}