@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body,button,input{
    font-family: "Josefin Sans",
    sans-serif,
}

body{
    background-color: aqua;
}

/*Set avatar*/
.picavatar{
    height: 6rem;
   
}
.avatar{
    border: 0.4rem solid transparent;
    border-radius: 5rem;
    transition: 0.3s ease-in-out;
}
.selected{
    border: 0.4rem solid;
    border-radius: 5rem;
    border-color: #AF2655;
}
.row>button{
    background-color: #AF2655;
    border: 10px solid #AF2655;
    border-radius: 5rem;
    color: white;
    transition: 0.3s ease-in-out;
    font-size: 20px;
    
}
button:hover{
    background-color: #e20955a2;
    border-color: #af265600;
    color: white;
}
.fullscreen-container {
    position:fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}